// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #073f92;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-cappuccino: #dcc7a1;
$deep-coffee: #8e7355;
$bright-yellow: #fff9db;
$white: #FFFFFF;
