// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #073f92;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-cappuccino: #dec7a2;
$deep-coffee: #8e7355;
$eggshell: #f5f1e0;
$light-grass: #a3b9a7;
$espresso-brown: #4c2719;
$orange-bronze: #c37b2e;
$black: #000000;
$white: #FFFFFF;
