<%= turbo_frame_tag "article_tags" do %>
  <div id="tags" class="mt-4" data-controller="toggle-form">
    <div data-toggle-form-target="display">
      <% if article.tags.present? %>
        <% article.tags.split(',').each do |tag| %>
          <%= link_to tag.strip, tag_path(tag.strip), class: "badge bg-light text-dark border text-decoration-none", data: { turbo_frame: "_top" } %>
        <% end %>
      <% else %>
        <span class="text-muted">No tags</span>
      <% end %>
    </div>
  </div>
<% end %>
