<div class="container my-4">
  <h1 class="text-center mb-4">Search Articles</h1>

  <div class="row">

    <div class="d-none d-md-block col-md-4" style ="position: sticky; top: 20px; z-index: 10; align-self: flex-start;" >
      <div class="card mb-4"">
        <div class="card-body bg-white">
          <h5 class="card-title" >Search Articles</h5>
          <%= render "shared/searchform" %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-8">
      <% if @articles.any? %>
        <p class="text-muted mb-3"><%= @articles.count %> article(s) found</p>
        <div class="row g-3">
          <%= render "shared/manyarticles", articles: @articles, col_class: "col-md-6" %>
        </div>
      <% else %>
        <p class="text-center text-muted">No articles found matching your criteria.</p>
      <% end %>
    </div>
  </div>
</div>
