<% if user_signed_in? %>
  <span data-sync-target="status"></span>
  <%= render "shared/navbar/mobile" %>
  <%= render "shared/navbar/desktop" %>
<% else %>
  <%= render "shared/navbar/logged_out" %>
<% end %>
