<span data-offline-hide>
  <button type="button"
          class="btn p-0 border-0 bg-transparent"
          data-action="click->toggle-form#toggle"
          title="Edit">
    <span class="d-inline-flex align-items-center justify-content-center rounded-circle bg-success text-white" style="width: 32px; height: 32px;">
      <i class="fa-solid fa-pen"></i>
    </span>
  </button>
</span>
