<%= button_to bookmark_path(bookmark),
    method: :delete,
    class: "btn p-0 border-0 bg-transparent",
    form: { data: { turbo_confirm: 'Remove from curation?' }, style: "display: inline;" } do %>
  <span class="d-inline-flex align-items-center justify-content-center rounded-circle bg-success text-white" style="width: 32px; height: 32px;">
    <i class="fa-solid fa-circle-minus"></i>
  </span>
<% end %>
