<span data-offline-hide>
  <%= button_to archive_article_path(article),
      method: :patch,
      class: "btn p-0 border-0 bg-transparent",
      form: { style: "display: inline;", data: { turbo_frame: "_top" } } do %>
    <span class="d-inline-flex align-items-center justify-content-center rounded-circle bg-success text-white" style="width: 32px; height: 32px;">
      <i class="fa-<%= article.archived? ? "solid" : "regular" %> fa-circle-check"></i>
    </span>
  <% end %>
</span>
