<button type="submit"
        class="btn p-0 border-0 bg-transparent flex-shrink-0"
        title="Regenerate summary">
  <span class="d-inline-flex align-items-center justify-content-center rounded-circle bg-success text-white" style="width: 32px; height: 32px;">
    <i class="fa-solid fa-arrows-rotate"></i>
  </span>
</button>
