<button type="button"
        class="btn p-0 border-0 bg-transparent"
        data-toggle-form-target="display"
        data-action="toggle-form#toggle"
        title="Listen to article">
  <span class="d-inline-flex align-items-center justify-content-center rounded-circle bg-success text-white" style="width: 32px; height: 32px;">
    <i class="fa-solid fa-headphones"></i>
  </span>
</button>
