      <div>
        <div class="position-relative h-100">

            <%= button_to curation_path(curation),
                method: :delete,
                class: "position-absolute bottom-0 end-0 m-2 px-1 rounded-3 border-0 text-black z-3 mobile-action-btn",
                style: "background: transparent",
                form: { data: { turbo_confirm: 'Are you sure?' } } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>

          <%= link_to curation_path(curation), class: "text-decoration-none text-reset" do %>
            <div class="card h-100 shadow-sm">
              <div class="card-body bg-white">
                <h5 class="card-title"><%= curation.title %></h5>
              </div>
            </div>
          <% end %>
        </div>
      </div>
