.article-card-wrapper {
  height: 100%;

  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .card > .position-relative:first-child {
    flex-shrink: 0;
  }

  .card > a {
    flex: 1;
    display: flex;
  }

  .card-body {
    flex: 1;
    width: 100%;
  }

  .card-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card-footer {
    flex-shrink: 0;
  }
}
