.assistant-message {
  background-color: $eggshell;
}

.user-message {
  background-color: $light-cappuccino;
}

.chat-input {
  background-color: $eggshell !important;
  border: 2px solid #000000 !important;
  border-radius: 6px;
  box-shadow: none !important;
}

#messages {
  max-height: 65vh;
  overflow-y: auto;
  padding-bottom: 20px;
}
