.assistant-message {
  background-color: $bright-yellow;
}

.user-message {
  background-color: $light-cappuccino;
}

.chat-input {
  background-color: #ffffff !important;
  border: 2px solid #000000 !important;
  border-radius: 6px;
  box-shadow: none !important;
}
