@media (max-width: 767.99px) {
  body {
    padding-bottom: 70px;
  }
}

.storypile-footer {
  justify-content: space-between;
  background: $light-cappuccino;
}

#searchModal,
#addArticleModal {
  .modal-dialog {
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
  }

  &.show .modal-dialog {
    transform: translateY(0);
  }
}
