.navbar-lewagon {
  justify-content: space-between;
  background: $light-cappuccino;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 56px;
  height: auto;
}

.navbar-lewagon h2 a {
  text-decoration: none !important;
  font-family: 'Google Sans Flex', sans-serif;
  color: #232929;
  font-weight: 600;
}

.menu-bar i {
  font-size: 30px;
  color: #232929;
}

.mobile-nav-dropdown {
  border: none;
  border-radius: 0;
  background: $light-cappuccino;
}
