.navbar-lewagon {
  justify-content: space-between;
  background: $light-cappuccino;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: env(safe-area-inset-top);
  z-index: 1000;
  border-bottom: none;
}

.navbar-lewagon.d-md-none .mobile-center-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.navbar-lewagon.d-md-none .mobile-center-nav .dropdown {
  pointer-events: auto;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 56px;
  height: auto;
  margin-top: 0.75rem;
}

.navbar-lewagon h2 a {
  text-decoration: none !important;
  font-family: 'Google Sans Flex', sans-serif;
  color: #232929;
  font-weight: 600;
}

.menu-bar i {
  font-size: 30px;
  color: #232929;
}

.mobile-nav-dropdown {
  border: none;
  border-radius: 0;
  background: $light-cappuccino;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important; // remove Bootstrap's default gap above dropdown
  margin-bottom: 0 !important;
}

body {
  padding-top: 70px; /* so nothing disappears under the navbar */
}
