[data-controller="speech-reader"] {
  .form-range {
    cursor: pointer;

    &::-webkit-slider-thumb {
      cursor: pointer;
    }
  }

  .progress {
    background-color: $gray-200;
    border-radius: 3px;
  }

  .progress-bar {
    background-color: $primary;
  }

  .btn-sm {
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.px-3 {
      width: 48px;
    }
  }
}

  .speech-reader-sticky {
    position: fixed;
    bottom: 80px;
    left: 0;
    right: 0;
    z-index: 950;
    background: white;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
  }
