<li id="<%= local_assigns[:id] || 'install-menu-item' %>" style="display: none;">
  <button id="<%= local_assigns[:button_id] || 'install-button' %>" class="dropdown-item <%= local_assigns[:align] %>">
    <i class="fa-solid fa-download me-2"></i>Install App
  </button>
</li>
