<nav class="navbar navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= render "shared/navbar/logo" %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-outline-dark ms-auto" %>
  </div>
</nav>
